{% extends "layouts/base.html" %}

{% block title %} Contact Us {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        
        {% include 'includes/preloader.html' %}

        <!-- Hero -->
        <section class="section section-header pb-11 bg-primary text-white">  
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-8 text-center">
                        {% with messages = get_flashed_messages(with_categories=true) %}  
                        {% if messages %}  
                              {% for cato,message in messages %}
                            
                              <div class="alert alert-{{cato}} alert-dismissible d-flex align-items-center justify-content-between" role="alert">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                    {{message}}
                                    <button type="button" class="btn btn-light btn-outline-{{cato}} btn-sm" data-bs-dismiss="alert" aria-label="Close" style="margin:0% 0%">Dismiss</button>
                              </div>
                            
                              {% endfor %}  
                        {% endif %}  
                        {% endwith %}
                        <h1 class="display-2 mb-3">Contact Us</h1>
                        <p class="lead">Contact us if you lost your key</p>        
                    </div>
                </div>
            </div>
            
        </section>

        
        
        <!-- Section -->
        <section class="section section-lg pt-6">
            <div class="container">
                <div class="row justify-content-center mb-5 mb-lg-6">
                    <div class="col-12 col-lg-8">
                        <!-- Contact Card -->
                        <div class="card border-0 p-2 p-md-3 p-lg-5">
                            <div class="card-header bg-white border-0 text-center">
                                <h2>We need to check it's you who are requesting for key</h2>
                                <p>Let’s do it.</p>
                            </div>
                            <div class="card-body px-0 pt-0">
                                <form method="post" action="/contactus" enctype="multipart/form-data">
                                    <!-- Form -->
                                    <div class="mb-4">
                                        <label for="email">Enter the file id</label>
                                        <div class="mb-3">
                                            <input class="form-control" type="text" id="fileid" name="fileid" placeholder="Encrypt file id" required>    
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <!-- Form -->
                                    <div class="mb-4">
                                        <label for="email">Enter the regeneration token which is shared at the time of encryption</label>
                                        <div class="mb-3">
                                            <input class="form-control" type="password" id="retk" name="retk" placeholder="Key Regeneration Token" required>
                                        </div>
                                    </div>
                                    
                                    <!-- End of Form -->
                                    <div class="d-grid">
                                        <button type="submit" class="btn rounded btn-secondary">Send the Request</button>
                                    </div>
                                </form>
                            </div>
                        </div>



                        <!-- End of Contact Card -->
                    </div>
                </div>
        </section> 
        <!-- End of section -->

    </main>

    {% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
