{% extends "layouts/base-fullscreen.html" %}

{% block title %} Registration {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        {% include 'includes/preloader.html' %}

        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="/static/assets/img/pages/form-image.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    <a href="https://appseed.us/product/pixel-bootstrap/flask/" target="_blank"><b>Hybrid Cryptography</b></a> - Register
                                </h1>
                                <br />
                                <span class="font-weight-normal">
                                    {% if msg %}
                                        {{ msg | safe }}
                                    {% else %}
                                        Add your credentials
                                    {% endif %}                                  
                                </span>
                            </div>

                            {% if not success %}

                                <form method="post" action="/signup">

                                  

                                    <div class="form-group mb-4">
                                        <label for="fname">Firstname</label>
                                        <div class="input-group">
                                            
                                            <input type="text" class="form-control" id="inputEmail3" name="fname" placeholder="First name" required>
                                        </div>  
                                    </div>
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="lname">Lastname</label>
                                        <div class="input-group">
                                            
                                            <input type="text" class="form-control" id="inputEmail3" name="lname" placeholder="Last name" required>
                                        </div>  
                                    </div>

                                    <div class="form-group mb-4">
                                        <label for="phone">Phone</label>
                                        <div class="input-group">
                                           
                                            <input type="number" class="form-control" id="phone" name="phone" placeholder="Enter your number" required>
                                        </div>  
                                    </div>
                                    
                                    <div class="form-group mb-4">
                                        <label for="dob">Date of Birth</label>
                                        <div class="input-group mb-4">
                                            <span class="input-group-text" id="basic-addonDate1"><span
                                                    class="fas far fa-calendar-alt"></span></span>
                                            <input class="form-control" data-datepicker="" id="exampleInputDate1" name="dob" placeholder="Select date"
                                                type="text" aria-label="Date with icon left">
                                        </div>                                
                                    </div>

                                    <fieldset>
                                        <legend class="h6">Gender</legend>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" value="male" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                                Male
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="female">
                                            <label class="form-check-label" for="exampleRadios2">
                                                Female
                                            </label>
                                        </div>
                                       
                                        <!-- End of Radio -->
                                    </fieldset>

                                    <div class="form-group mb-4">
                                        <label for="email">Email</label>
                                        <div class="input-group">
                                        
                                            
                                            <input type="email" class="form-control" id="inputEmail3" name="email" placeholder="Email" required>
                                        </div>  
                                    </div>
                                    <!-- End of Form -->
                                    <div class="form-group">
                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label>Password</label>
                                            <div class="mb-3">
                                              <input type="password" class="form-control" id="inputEmail3" name="password" placeholder="Password" required>
                                          </div> 
                                        </div>

                                        <div class="form-group">
                                            <!-- Form -->
                                            <label>Password Check</label>
                                            <div class="mb-3">
                                            <input type="password" class="form-control" id="inputEmail3" name="conpassword" placeholder="Confirm password" required>
                                             </div>
                                            </div>    
                                        <!-- End of Form -->
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <div class="form-check mb-0">
                                                <label class="form-check-label mb-0" for="remember">
                                                    Already have an account?
                                                  </label>
                                            </div>
                                            <div><a href="/login" class="text-right"><b>Login</b></a></div>
                                        </div>
                                    </div>
                                    <div class="d-grid">
                                        <button type="submit" name="register" class="btn btn-primary">Register</button>
                                    </div>
                                </form>
                            
                            {% else %} 

                                <p class="mt-4 text-sm text-center">
                                    <a href="{{ url_for('authentication_blueprint.login') }}" class="btn btn-primary">Sign IN</a>
                                </p>
                            
                            {% endif %}

                            <br />

                           

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
