
    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark">
            <div class="container position-relative">
                <a class="navbar-brand me-lg-5" href="/admin/home">
                    <img class="navbar-brand-dark" src="/static/assets/img/brand/light.svg" alt="Logo light">
                    <img class="navbar-brand-light" src="/static/assets/img/brand/dark.svg" alt="Logo dark">
                </a>
                
                <div class="navbar-collapse collapse me-auto" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="/admin/home">
                                    <img src="/static/assets/img/brand/dark.svg" alt="Themesberg logo">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                        <li class="nav-item dropdown">
                            <!-- dropdown-toggle -->
                            <a href="#" class="nav-link" id="frontPagesDropdown" aria-expanded="false" data-bs-toggle="dropdown">
                                Home
                                <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                            </a>
                            <div class="dropdown-menu p-lg-4">
                                <!-- <div class="row"> -->
                                    <!-- <div class="col-6 col-lg-4"> -->
                                        <h6 class="d-block mb-3 text-primary text-center">Main pages</h6>
                                        <ul class="list-style-none mb-4">

                                            <li class="mb-2 p-1 megamenu-item text-center" onMouseOver="this.style.backgroundColor='#ADCCFF'" onMouseOut="this.style.backgroundColor='#FFFFFF'" 
                                            style="border-radius: 15%">
                                                <a class="megamenu-link" href="/admin/home">Home</a>
                                            </li>

                                            <li class="mb-2 p-1 megamenu-item text-center" onMouseOver="this.style.backgroundColor='#ADCCFF'" onMouseOut="this.style.backgroundColor='#FFFFFF'" 
                                            style="border-radius: 15%">
                                                <a class="megamenu-link" href="/admin/usermanagement">User Management</a>
                                            </li>

                                            <li class="mb-2 p-1 megamenu-item text-center" onMouseOver="this.style.backgroundColor='#ADCCFF'" onMouseOut="this.style.backgroundColor='#FFFFFF'" 
                                            style="border-radius: 15%">
                                                <a class="megamenu-link" href="/admin/keymanagement">Key Management</a>
                                            </li>

                                            <li class="mb-2 p-1 megamenu-item text-center" onMouseOver="this.style.backgroundColor='#ADCCFF'" onMouseOut="this.style.backgroundColor='#FFFFFF'" 
                                            style="border-radius: 15%">
                                                <a class="megamenu-link" href="/admin/requests">Requests Management</a>
                                            </li>
                                        </ul>
                            </div>
                        </li>
                        
                    </ul>
                </div> 

                <div class="d-flex align-items-center">
                    <a href="/admin/logout"
                       class="btn btn-outline-gray-100 d-none d-lg-inline me-md-3"><span class="fas fa-sign-out-alt me-2"></span> Logout</a>
                    <!-- <a href="https://appseed.us/product/pixel-bootstrap/flask/" 
                       target="_blank" class="btn btn-tertiary"><i class="fas fa-cloud-download-alt me-2"></i> Download</a> -->
                    <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

