{% extends 'admin/base.html' %}

{% block title %}Your Weather check History{% endblock title %}

{% block body %}

    <!-- slider section -->
    
    
    <section class="slider_section position-relative">
      <a class="navbar-brand" href="/admin/home">
        <span>
          E-Cropter
        </span>
      </a>
      
     
     
    </section>
    <!-- end slider section -->
  </div>

  
  <!-- we do section -->
<br>
<br>
  <section class="wedo_section layout_padding section_pr">
    <div class="container">
      <div class="heading_container">
        <h2><span>My</span> Queries</h2>
      </div>
      <div class="carousel-wrap ">
        
        {% if c|length==0 %}
        <div class="alert alert-info text-center" role="alert">
            No Queries Availabe!!!
          </div>
        {% else %}
        <table class="table table-hover my-4 text-center">
            <thead> 
              <tr>
                <th scope="col"  style="width:10%">S No</th>
                <th scope="col">Queries</th>
                <th scope="col" colspan="2">Response</th>
              </tr>
            </thead>
            <tbody>
        {% for rows in c %}
        <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{rows.msg}}</td>
          <form action="/admin/response/{{rows.email}}/{{rows.sno}}" method="POST">
            <td>
            <textarea class="form-control form-control-sm" type="text" name="response" placeholder="Response" rows="2" cols="5"></textarea> 
            </td>
            <td>
            <button type="submit" class="btn btn-outline-dark btn-sm ">Submit</button>
            </td>
          </form>
        
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
        </table>
        
      
        
    </div>
  </section>

  <!-- end we do section -->
 

  {% endblock body %}