{% extends 'admin/base.html' %}

{% block title %}Your Weather check History{% endblock title %}

{% block body %}

    {% with messages = get_flashed_messages(with_categories=true) %}  
    {% if messages %}  
          {% for cato,message in messages %}
      
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
          </svg>
        
          <div class="alert alert-{{cato}} alert-dismissible d-flex align-items-center justify-content-between" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                {{message}}
                <button type="button" class="btn btn-light btn-outline-{{cato}} btn-sm" data-bs-dismiss="alert" aria-label="Close" style="margin:0% 0%">Dismiss</button>
          </div>
        
          {% endfor %}  
    {% endif %}  
    {% endwith %}    

  <!-- we do section -->

  <section class="wedo_section layout_padding section_pr">
    <div class="container" style="background-color: white;">

      <h1 class="text-center my-4" style="margin: 2% 0%;">Available Users</h1>
      {% if allfeed|length==0 %}
      <div class="alert alert-info text-center" role="alert">
          No User Availabe!!!
        </div>
      {% else %}
      <table class="table table-hover my-4 text-center">
          <thead> 
            <tr>
              <th scope="col"  style="width:10%">S No</th>
              <th scope="col">Email</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Gender</th>
              <th scope="col">Contact Number</th>
              <th scope="col">Status</th>
              <th scope="col">Update Status</th>
            </tr>
          </thead>
          <tbody>
  {% for rows in allfeed %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>
        <a href="/admin/profile/{{rows.email}} " type="button" class="btn btn-outline-dark btn-sm">{{rows.email}}</a>
      </td>
      <td>{{rows.fname}}</td>
      <td>{{rows.lname}}</td>
      <td>{{rows.gender}}</td>
      <td>{{rows.phone}}</td>
      <td>{{rows.status}}</td>

    {% if rows.status=='Unblocked' %}
          
    {% set s='blocked'%}

    {% else %}

    {% set s='Unblocked'%}

    {% endif %}
    
      
      <td>
        <a href="/admin/status/{{rows.email}} " type="button" class="btn btn-outline-dark btn-sm">{{s}}</a>
      </td>
  </tr>
  {% endfor %}
  {% endif %}
  </tbody>
</table>

      
    </div>
  </section>

{% endblock body %}