<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Crop Predicted</title>

  <link rel="icon" href="{{url_for('static',filename='images/leaf.png')}}" type="image/png">

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.css')}}" />
  <!-- fonts awesome style -->
  <link href="{{url_for('static',filename='css/font-awesome.min.css')}}" rel="stylesheet" />
  
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,,600,700|Poppins:400,500,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{url_for('static',filename='css/responsive.css')}}" rel="stylesheet" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>

</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <div class="custom_menu-btn">
          <button onclick="openNav()">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>
        </div>
        <div id="myNav" class="overlay">
          <div class="menu_btn-style ">
            <button onclick="closeNav()">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
            </button>
          </div>
          <div class="overlay-content">
            
        <style>
    
          .skiptranslate{
            font-size: 0;
          }
          
          .skiptranslate span{
            display: none;
          }
          </style>

      <div id="ad"></div>
      <script src="http://translate.google.com/translate_a/element.js?cb=loadfun"></script>
      <script>
          function loadfun(){
              new google.translate.TranslateElement("ad");
          }
      </script>
            <a class="active" href="/home">
              Home
            </a>
            <a class="" href="/currentwea">
              Current Weather
            </a>
            <a class="" href="/forecast">
              Weather Forecast
            </a>
            <a class="" href="/crop">
              Crop Prediction
            </a>
            <a class="" href="/AboutUs">
              AboutUs
            </a>
            <a class="" href="/ContactUs">
              Contact Us
            </a>
          </div>
        </div>
        <a class="navbar-brand" href="/home">
          <span>
            E-Cropter
          </span>
        </a>
        <div class="user_option">
            <form action="/profile" class="form-inline">
              <button class="btn  nav_search-btn" type="submit">
                 
                <i class="fa fa-user" aria-hidden="true" style="font-size:20px;"></i>
       
              </button>
            </form>
            <a href="/logout">
              <i class="fa fa-power-off" aria-hidden="true" style="font-size:20px;"></i>
            </a>

        </div>
      </nav>
    </header>
    <!-- end header section -->
  </div>

  <!-- we do section -->

  <section class="wedo_section layout_padding section_pr">
    <div class="container">
      <div class="heading_container">
        <h2><span>Crop</span> Suggested</h2>
      </div>
      <div class="carousel-wrap ">
        <div class="owl-carousel wedo_owl_carousel">

          <div class="item" style="width: 100%;">
            <div class="box ">

              <div class="img-box">
                <img src="{{url_for('static',filename='images/Crop Image/'+cro.ImgName)}}" alt=""/>
              </div>
              
            </div>
          </div>

          <div class="item">
            <div class="box">

              <div class="detail-box" style="background-color: white;padding: 3% 10%;">
                <h3>
                  {{cro.Crop}}
                </h3>
                <p style="text-align: justify;font-size: 150%;">
                  {{cro.Details}}
                </p>
              </div>
              
            </div>
          </div>
         
          <div class="item" style="width: 100%;">
            <div class="box ">

              <div class="detail-box" style="background-color: white;">

                <canvas id="production" width="1000" height="400" style="margin-top: 5%; margin-left: auto; margin-right: auto;"></canvas>


              </div>
              
            </div>
          </div>
        
          <div class="item" style="width: 100%;">
            <div class="box ">

              <div class="detail-box" style="background-color: white;">

                <canvas id="profit" width="1000" height="500" style="margin-top: 5%; margin-left: auto; margin-right: auto;"></canvas>


              </div>
              
            </div>
          </div>

        </div>
      </div>
    </div>
    
    <script>
      let ye=JSON.parse({{ ye | tojson}})
      let py=JSON.parse({{ py | tojson}})
      let yy=JSON.parse({{ yy | tojson}})
      
      var tem=document.getElementById("production").getContext("2d");
      var temperature= new Chart(tem,{
        type: "line",
        data: {
          labels: ye,
          datasets: [
            {
              label: "Crop Production Per Year",
              data: py,
              fill: true,
              borderColor: "rgb(204, 0, 0)",
              lineTension: 0.5     
          }
          ]
        },
        options:{
          responsive: false
          
        }
      });
    
      var win=document.getElementById("profit").getContext("2d");
      var wind= new Chart(win,{
        type: "line",
        data: {
          labels: ye,
          datasets: [
            {
              label: "Crop Profit Per Year",
              data: yy,
              fill: true,
              borderColor: "rgb(75,192,192)",
              lineTension: 0.5
            
          }
          ]
        },
        options:{
          responsive: false
        }
      });
    
    </script> 
    

    <a href="/crop" class="btn btn-light btn-outline-dark" style="margin: 2% 0% 0% 8%;">&larr; Back</a>
  </section>

  <!-- end we do section -->

  <!-- info section -->

  <section class="info_section layout_padding section_pl">
    <div class="container">
      <div class="info_logo">
        <a href="">
          Farmfiled
        </a>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h4>
              Address
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +01 1234567890
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  Email : demo@gmail.com
                </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_link_box">
            <h4>
              Links
            </h4>
            <div class="info_links">
              <a class="" href="/home">
                Home
              </a>
              <a class="" href="/currentwea">
                Current Weather
              </a>
              <a class="" href="/forecast">
                Weather Forcest
              </a>
              <a class="" href="/crop">
                Crop Prediction
              </a>
              <a class="" href="/AboutUs">
                About Us
              </a>
              <a class="" href="/ContactUs">
                Contact Us
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_detail">
            <h4>
              Products
            </h4>
            <p>
              necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <h4>
            Subscribe
          </h4>
          <form action="">
            <input type="text" placeholder="Your Email" />
            <button type="submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved. Design by
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->
  <script src="{{url_for('static',filename='js/jquery-3.4.1.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="{{url_for('static',filename='js/custom.js')}}"></script>
</body>

</html>