{% extends 'base.html' %}

{% block title %}Crop Prediction{% endblock title %}

{% block body %}  

{% with messages = get_flashed_messages(with_categories=true) %}  
{% if messages %}  
      {% for cato,message in messages %}
  
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
      </svg>
    
      <div class="alert alert-{{cato}} alert-dismissible d-flex align-items-center justify-content-between" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            {{message}}
            <button type="button" class="btn btn-light btn-outline-{{cato}} btn-sm" data-bs-dismiss="alert" aria-label="Close" style="margin:0% 0%">Dismiss</button>
      </div>
    
      {% endfor %}  
{% endif %}  
{% endwith %}  

  <!-- we do section -->

  <section class="wedo_section layout_padding section_pr">
    <div class="container" style="background-color: white;">

        <h1 class="text-center" style="padding: 2% 0% 0% 0%;">Crop Prediction</h1>
<div class="justify-content-center">
<form action="/cropprediction" method='POST'>
      <div class="input-group" style="padding: 2% 26% 2% 26%;">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">City Name</span>
        </div>
        <input type="text" class="form-control" name="city" required>
      </div>

      <div class="input-group" style="padding: 2% 26% 2% 26%;">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">Nitrogen</span>
        </div>
        <input type="text" class="form-control" name="Nitrogen" required>
      </div>

      <div class="input-group" style="padding: 2% 26% 2% 26%;">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">Phosphorus</span>
        </div>
        <input type="text" class="form-control" name="Phosphorus" required>
      </div>

      <div class="input-group" style="padding: 2% 26% 2% 26%;">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">Potassium</span>
        </div>
        <input type="text" class="form-control" name="Potassium" required>
      </div>

      <div class="input-group" style="padding: 2% 26% 2% 26%;">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">PH Level</span>
        </div>
        <input type="text" class="form-control" name="PH Level" required>
      </div>
    
      <button type="submit" class="btn btn-outline-dark" style="margin: 1% 0% 1% 44%;">Submit</button><br>
</form>

    {% if l['cod']=='404'%}
    <h1 class="blockquote text-center" style="padding: 0% 5% 2% 0%;color:red;">
      {{l['message']}}
  </h1>

      {% endif %}
  
    
    </div>
  </section>

  <!-- end we do section -->


{% endblock body %}